<!-- <h1>StaticPages#help</h1>
<p>Find me in app/views/static_pages/help.html.erb</p>
 -->
<% provide :title, "Help" %>
 <h1>Sample App</h1>
 <p>
 	This is the home page for the abc
 	<a href="http://www.railstutorial.org/">Ruby onRails Tutorial</a>
 	sample application.
</p>