<% provide(:title, t("users.view.all_users")) %>
<h1><%= t "users.view.all_users" %></h1>
<%== pagy_bootstrap_nav @pagy %>
<ul class="users">
  <%= render @users %>
</ul>
<%== pagy_bootstrap_nav @pagy %>
